/* Add your CSS here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s;
}
.imgbox {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.title {
    text-align: center;
}
.title h1 {
    color: #3d4169;
    font-size: 1.5rem;
    font-weight: 700;
}
/* ---------- Header ---------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
}
.logo {
    font-weight: 700;
}
.logo span {
    color: #3d4169;
}
nav {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.links:hover {
    color: #3d4169;
}
.btn {
    color: #fff;
    outline: none;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #3d4169;
 
}
.outline {
    outline: none;
    color: #3d4169;
    background: transparent;
    border: 1px solid #3d4169;
}
.btn:hover, 
.main .box:hover {
    cursor: pointer;
    box-shadow: 0px 2px 10px #3d416976;
}
/* ---------- Dropdown Menu ----------*/
.menu {
    position: relative;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu span {
    font-size: 1.1rem;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    top: 100%;
    box-shadow: 0px 2px 10px #3d416976;
    z-index: 1;
    text-align: left;
    flex-direction: column;
}
.dropdown-content a {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
}
.dropdown-content a:hover {
    color: #fff;
    background-color: #3d4169;
}
.menu:hover .dropdown-content {
    display: flex;
}

section {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 50px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero {
    flex-direction: column;
    align-items: flex-start;
    min-height: 90vh;
    background: url('https://images.unsplash.com/photo-1579389083078-4e7018379f7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-position: left;
    background-size: cover;
}
.hero h1 {
    font-size: 2.5rem;
}
.hero h1 span {
    color: #3d4169;
    font-weight: 900;
}
.CTA {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ava {
    flex-direction: row;
    justify-content: space-around;
}
.main, .container  {
    position: relative;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .box {
    position: relative;
    gap: 20px;
    padding :10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #3d4169;
}
.main .box .txt h3 {
    color: #fff;
    font-weight: 600;
}
 .main .box .txt p {
    color: #fff;
    font-weight: 100;
    font-size: 0.8rem;
}
.main .box ion-icon {
    color: #3d4169;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
}
.main .box:hover {
    transform: scale(1);
}
.popular {
    gap: 50px;
}
.popular .container {
    gap: 40px;
}
.popular .container .main .box .txt h3 {
    color: #3d4169;
    font-weight: 600;
}
.popular .container .main .box .txt p {
    color: #000;
    font-size: 0.8rem;
}
.popular .container .main .box {
  background: transparent;
   flex-direction: column;
   border: 1px solid #3d4169;
}
.popular .container .main .box .btn {
    position: absolute;
    width: 100%;
    bottom: -10px;
    display: none;
    border-radius: 0px;
}
.popular .container .main .box:hover .btn {
    bottom: 0px;
    display: block;
}